.infoblock
  padding-top: 40px
  margin-bottom: 65px
  .header
    font-size: 24px
    font-weight: bold
    margin-bottom: 30px
  .main
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 2fr
    row-gap: 33px
    column-gap: 32px
    .highlights
      
    .offerdetails